/* Universal selector */
* {
    /* Changes the font */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* Makes the content adapts to the screen  */
    box-sizing: border-box;
    /* Box spacing and viewing propieties */
    padding: 0;
    margin: 0;
    
}

/* Global styles */
body {
    /* background of the whole page */
    background-color: #d9dcd6;
}

a {
    /* color of the font */
    color: #ffffff;
    /* if the <a> elements has underscore this propiety removes it  */
    text-decoration: none;
}

p {
    font-size: 16px;
}

/*---------------------------------------------------------------------------------------------------------------  */
/* Header section */

header {
    padding: 20px;
    /* font type of the header */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* for the header */
    background-color: #2a607c; 
    color: #ffffff;
}

/* compacted header styles */
header h1 {
    /* modifies the default block model to see the nav on the side  */
    display: inline-block;
    font-size: 48px;
    color: #d9dcd6;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    /* moves the nav to the right of the screen */
    float: right;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* ------------------------------------------------------------------------------------------------ */
/* Hero section */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    /* creates the backround image */
    background-image: url("../images/digital-marketing-meeting.jpg");
    /* expands the image to cover the whole space */
    background-size: cover;
    background-position: center;
}

/* -------------------------------------------------------------------------------------------------*/
/* Content section  */
.float-left {
    /* moves the content to the left */
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {

    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* ------------------------------------------------------------------------------------------------ */
/* Benefits section */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}

.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit img{
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


/* ----------------------------------------------------------------------------------------------- */
/* Services section */
.service {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
    color: #ffffff;
}


.service img {
    max-height: 200px;
}

.service h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* ----------------------------------------------------------------------------------------------- */
/* Footer section */
.footer {
    padding: 30px;
    /* moves the content underneath the section and the aside */
    clear: both;
    /* aligns the text to the center */
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}

/* Compacted classes and cleaned the "." before tags*/